### Operadores Matemáticos

In [ ]:
a = 10
b = 3

soma = a + b 
sub = a - b 
mult = a * b 
div = a / b
div_int = a // b
resto = a % b 
potencia = a ** b

In [ ]:
print ("Soma:", soma)
print ("Subtração:", sub)
print ("Multiplicação:", mult)
print ("Divisão:", div)
print ("Divisão Inteira:", div_int)
print ("Resto:", resto)
print ("Potência:", potencia)

Soma: 13
Subtração: 7
Multiplicação: 30
Divisão: 3.3333333333333335
Divisão Inteira: 3
Resto: 1
Potência: 1000

### Tipos de Dados (Tipo Primitivo)


| Tipo de Dado | Exemplo           | Descrição                  |
|--------------|-------------------|----------------------------|
| **int**      | 10, -5, 2024      | Números inteiros           |
| **float**    | 3.14, 99.99       | Números com casas decimais |
| **str**      | Python, Texto     | Texto (strings)            |
| **bool**     | True, False       | Valores lógicos            |
| **complex**  | 2 + 3j            | Números complexos          |

In [3]:
idade = 25 
print (type(idade))

<class 'int'>

In [2]:
price = 19.99
print (type(price))

<class 'float'>

In [1]:
nome = "Henrique"
print (type(nome))
print (nome[0:5])

<class 'str'>
Henri

In [ ]:
verdadeiro = True
falso = False

print(type(falso))

a = 10
b = 20

print(a > b)
print(a < b)

##### Converter Tipo Primitivo

In [4]:
num_int = 10
print(num_int, type(num_int))   

num_float = float(num_int)
print(num_float, type(num_float))

10 <class 'int'>
10.0 <class 'float'>

### Operadores Lógicos

| Operador | Descrição                                                | Exemplo                                |
|----------|------------------------------------------------------------|-----------------------------------------|
| `and`    | Retorna `True` se ambas as condições forem verdadeiras     | `(5 > 2) and (10 > 5) → True`           |
| `or`     | Retorna `True` se pelo menos uma condição for verdadeira   | `(5 > 2) or (10 < 5) → True`            |
| `not`    | Inverte o valor lógico                                     | `not (5 > 2) → False`                   |

In [10]:
x = 12 
y = 3.5

print (x > 15 and y < 5)
print (x > 5 or y < 10 and x < 7) # primeira condicäo anula o resto
print (not(x > 5 or y < 10 and x < 7))

False
True
False

### Estrutura de Dados


| Estrutura        | Ordenada?        | Mutável?        | Permite Duplicatas?           |
|------------------|------------------|------------------|-------------------------------|
| **Lista (`list`)**       | ✔️ Sim            | ✔️ Sim            | ✔️ Sim                        |
| **Tupla (`tuple`)**      | ✔️ Sim            | ❌ Não            | ✔️ Sim                        |
| **Dicionário (`dict`)**  | ✔️ Sim (chaves únicas) | ✔️ Sim      | ❌ Não (chaves únicas)        |
| **Conjunto (`set`)**     | ❌ Não            | ✔️ Sim            | ❌ Não                        |