### Operadores Matemáticos

In [ ]:
a = 10
b = 3

soma = a + b 
sub = a - b 
mult = a * b 
div = a / b
div_int = a // b
resto = a % b 
potencia = a ** b

In [ ]:
print ("Soma:", soma)
print ("Subtração:", sub)
print ("Multiplicação:", mult)
print ("Divisão:", div)
print ("Divisão Inteira:", div_int)
print ("Resto:", resto)
print ("Potência:", potencia)

Soma: 13
Subtração: 7
Multiplicação: 30
Divisão: 3.3333333333333335
Divisão Inteira: 3
Resto: 1
Potência: 1000

### Tipos de Dados (Tipo Primitivo)


| Tipo de Dado | Exemplo           | Descrição                  |
|--------------|-------------------|----------------------------|
| **int**      | 10, -5, 2024      | Números inteiros           |
| **float**    | 3.14, 99.99       | Números com casas decimais |
| **str**      | Python, Texto     | Texto (strings)            |
| **bool**     | True, False       | Valores lógicos            |
| **complex**  | 2 + 3j            | Números complexos          |

In [3]:
idade = 25 
print (type(idade))

<class 'int'>

In [2]:
price = 19.99
print (type(price))

<class 'float'>

In [1]:
nome = "Henrique"
print (type(nome))
print (nome[0:5])

<class 'str'>
Henri

In [ ]:
verdadeiro = True
falso = False

print(type(falso))

a = 10
b = 20

print(a > b)
print(a < b)

##### Converter Tipo Primitivo

In [4]:
num_int = 10
print(num_int, type(num_int))   

num_float = float(num_int)
print(num_float, type(num_float))

10 <class 'int'>
10.0 <class 'float'>

### Operadores Lógicos

| Operador | Descrição                                                | Exemplo                                |
|----------|------------------------------------------------------------|-----------------------------------------|
| `and`    | Retorna `True` se ambas as condições forem verdadeiras     | `(5 > 2) and (10 > 5) → True`           |
| `or`     | Retorna `True` se pelo menos uma condição for verdadeira   | `(5 > 2) or (10 < 5) → True`            |
| `not`    | Inverte o valor lógico                                     | `not (5 > 2) → False`                   |

In [10]:
x = 12 
y = 3.5

print (x > 15 and y < 5)
print (x > 5 or y < 10 and x < 7) # primeira condicäo anula o resto
print (not(x > 5 or y < 10 and x < 7))

False
True
False

### Estrutura de Dados


| Estrutura        | Ordenada?        | Mutável?        | Permite Duplicatas?           |
|------------------|------------------|------------------|-------------------------------|
| **Lista [ ]      | ✔️ Sim            | ✔️ Sim            | ✔️ Sim                        |
| **Tupla ( )      | ✔️ Sim            | ❌ Não            | ✔️ Sim                        |
| **Dicionário { } | ✔️ Sim (chaves únicas) | ✔️ Sim      | ❌ Não (chaves únicas)        |
| **Conjunto { }   | ❌ Não            | ✔️ Sim            | ❌ Não                        |

#### Lista

In [36]:
lista = [1, 2, 3, 4, 5]
lista_2 = ["Queijo", "Parmessão", "Gorgonzola", "Brie", "Mussarela"]

print(lista)
print(lista_2)

[1, 2, 3, 4, 5]
['Queijo', 'Parmessão', 'Gorgonzola', 'Brie', 'Mussarela']

In [37]:

print(lista[3])
print(lista_2[3])

4
Brie

In [38]:
lista.append(6)
lista.remove(2)

lista

[1, 3, 4, 5, 6]

In [39]:
lista_2.append("Camembert")
lista_2.remove("Parmessão")

lista_2

['Queijo', 'Gorgonzola', 'Brie', 'Mussarela', 'Camembert']

In [40]:
mixed_list = [1, "Mussarela", 3.0, True, [5, 6, 7]]
print(mixed_list)

[1, 'Mussarela', 3.0, True, [5, 6, 7]]

#### Tuplas

In [49]:
price = (45.93, 17.50, 27.30, 5.00)
price

(45.93, 17.5, 27.3, 5.0)

In [50]:
# price(3)
# price.append(17.50)
# price.remove(1)

In [51]:
mixed_list = [1, "Mussarela", 3.0, True, [5, 6, 7]]
print(mixed_list)

[1, 'Mussarela', 3.0, True, [5, 6, 7]]

#### Dicionários

In [53]:
dados = {
    "nome": "Henrique", 
    "idade": 25, 
    "cidade": "São Paulo"
}

In [59]:
dados ['nome']

'Henrique'

In [62]:
dados ['profissão'] = "estudante"
print(dados)

del dados ['profissão']
print(dados)

{'nome': 'Henrique', 'idade': 25, 'cidade': 'São Paulo', 'profissão': 'estudante'}
{'nome': 'Henrique', 'idade': 25, 'cidade': 'São Paulo'}

#### Conjuntos

In [3]:
num = {1, 2, 3, 4, 5, 5, 6, 7, 8, 8, 9}
num

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
len(num)

9

In [5]:
conj_num  = set(num)
conj_num

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
conj_num.add(10)
conj_num

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
pares = {2, 4, 6, 8, 10}
impares = {1, 3, 5, 7, 9}

print("Union", pares | impares)
print("Intersection", pares & impares)
print("Difference", pares - impares)

Union {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection set()
Difference {2, 4, 6, 8, 10}

### Estruturas Condicionais

| Estrutura | Uso                                                                 |
|----------|----------------------------------------------------------------------|
| `if`     | Executa um bloco se a condição for verdadeira                        |
| `elif`   | Verifica outra condição se o `if` for falso                           |
| `else`   | Executa se todas as condições anteriores forem falsas                 |
| `for`    | Itera sobre sequências (`list`, `tuple`, `str`, `dict`)               |
| `while`  | Executa enquanto a condição for verdadeira                            |
| `break`  | Interrompe um loop imediatamente                                      |
| `continue` | Pula para a próxima iteração do loop                                |
| `pass`   | Placeholder sem impacto no código                                     |

### Resumo POO

| Conceito     | Descrição                                 | Exemplo                                |
|--------------|---------------------------------------------|-----------------------------------------|
| **Classe**       | Modelo para criar objetos                 | `class Carro:`                           |
| **Objeto**       | Instância de uma classe                   | `meu_carro = Carro("Toyota", "Corolla")` |
| **Atributo**     | Variável dentro da classe                 | `self.modelo = modelo`                   |
| **Método**       | Função dentro da classe                   | `def ligar(self):`                       |
| **Herança**      | Classe filha reutiliza código da classe pai | `class Cachorro(Animal):`               |
| **Polimorfismo** | Métodos com o mesmo nome em classes diferentes | `def voar(self):`                   |